<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio | Gema SAC</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" href="../static/css/normalize.min.css" />
	<link rel="stylesheet" href="../static/css/estilos.css" />
</head>
<body>
	<header>
		<div id="logo">
			<img src="../static/images/logo.png" />
		</div>
		<h1 id="titulo"><span>Gema <span> S.A.C.</h1>
	</header>
	<nav>
		<ul class="menu">
			<li><a href="../catalogo/">Todos</a></li>
			<li><a href="#">Chocolates</a></li>
			<li><a href="#">Bombones</a></li>
			<li><a href="#">Vinos</a></li>
			<li><a href="#">Galletas</a></li>
		</ul>
	</nav>
	</section>
	<footer>
		<div class="informacion">
			<p class="atencion">
				<span id="movil">992984941</span>
				<span id="email">manueldelpozo29@gmail.com</span>
			</p>
			<img src="../static/images/paypal.jpg" />	
		</div>
		<div id="submenu">
			<div class = "colecciones">
				<h3>Colecciones</h3>
				<ul>
					<li><a href="#">Chocolates</a></li>
					<li><a href="#">Panetones</a></li>
					<li><a href="#">Galletas</a></li>
					<li><a href="#">Vinos</a></li>
				</ul>
			</div>
			<div class="ayuda">
				<h3>Ayuda</h3>
				<ul>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Preguntas Frecuentes</a></li>
					<li><a href="#">Politicas</a></li>
				</ul>
			</div>
		</div>
		<p class="derechos">Gema SAC | Todos los derechos reservados ©2013 | <a href="#">Aviso lega</a></p>
	</footer>
</body>
</html>