<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio | Gema SAC</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" />
</head>
<body>
	<header>
		<div id="logo">
			<img src="../static/images/logo.png" />
		</div>
		<h1 id="titulo">
			Gema S.A.C.
		</h1>
	</header>
	<nav>
		<ul class="menu">
			<li> <a href="#">Todos</a></li>
			<li> <a href="#">Chocolates</a></li>
			<li> <a href="#">Bombones</a></li>
			<li> <a href="#">Vinos</a></li>
			<li> <a href="#">Galletas</a></li>
		</ul>
	</nav>
	<section class="items">
		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Cubik Krakania</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 11.55</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Galletas</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 15.50</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Classic Rectangular</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 21.20</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Bombones</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 13.60</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Bombones</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Bombones</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Bombones</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Vinos</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Galletas</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>

		<article class="item">
			<div class="presentacion">
				<img src="../static/images/item.jpg" />
				<p class="precio">S/. 10.90</p>
			</div>
			<div class="datos_item">
				<h2 class="titulo_item">Gran Cor</h2>
				<a class="categoria_item" href="#">Chocolates</a>
				<a class="agregar" href="#">Comprar</a>
			</div>
		</article>	
	</section>
	<footer>
		<div class="informacion">
			<p class="atencion">
				<span id="movil">992984941</span>
				<span id="email">manueldelpozo29@gmail.com</span>
			</p>
			<img src="../static/images/paypal.jpg" />	
		</div>
		<div id="submenu">
			<div class = "colecciones">
				<h3>Colecciones</h3>
				<ul>
					<li><a href="#">Chocolates</a></li>
					<li><a href="#">Panetones</a></li>
					<li><a href="#">Galletas</a></li>
					<li><a href="#">Vinos</a></li>
				</ul>
			</div>
			<div class="ayuda">
				<h3>Ayuda</h3>
				<ul>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Preguntas Frecuentes</a></li>
					<li><a href="#">Politicas</a></li>
				</ul>
			</div>
		</div>
		<p class="derechos">Gema SAC | Todos los derechos reservados ©2013 | <a href="#">Aviso lega</a></p>
	</footer>

</body>
</html>