@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a
{
	text-decoration: none;
}

body
{
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
}

footer
{
	
}

footer .informacion
{
	background: #444;
	padding: 0.4em 0;
}

footer .informacion .atencion
{
	display: inline;
}

footer .informacion img
{
	float: right;
	margin: 0 0.3em;
	border-radius: 1em 0.3em 0.3em 1em;
}

footer .atencion span, footer .atencion div
{
	display: inline-block;
}

footer .atencion span
{
	color: orange;
	font-size: 18px;
	margin: 0.3em 0.5em;
}

footer .atencion #movil:before
{
	content: "\e602";
	color: white;
	font-family: 'icomoon';
	margin-right: 5px;
}

footer .atencion #email:before
{
	content: "\e607";
	color: white;
	font-family: 'icomoon';
	margin-right: 5px;
}

footer .derechos
{
	font-size: 12px;
	text-align: center;
}

footer .derechos a
{
	color: rgb(243, 31, 82);
}

header
{
	background: #444;
	box-shadow: 0 4px 0 rgba(0,0,0,0.2);
	padding: 0.5em 1em;
	position: relative;
	z-index: 2;
}

header #titulo, header #logo
{
	display: inline-block;
	vertical-align: middle;
}

header #titulo
{
	color: white;
	font-size: 30px;
	margin: 0 0.5em;
}

header #logo
{
	border-right: 2px solid #4DB5DD;
}

header #logo img
{
	width: 65px;
	margin-right: 0.4em;
}

header .lugar
{
	background: #4DB5DD;
	border-radius: 0.3em;
	color: white;
	font-weight: bold;
	margin: 0 1em;
	padding: 0.3em 0.5em;
	vertical-align: middle;
}

nav
{
	background: #22bce0;
	border-left: 15px solid #fff;
	position:relative;
}

nav:before
{
	border-bottom: 20px solid transparent;
	border-left: 7px solid #fff;
	border-top: 20px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
nav .menu
{
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	overflow-x: auto;
}
nav .menu li
{
	display: inline-block;
}
nav .menu li a
{
	color: #fff;
	display: block;
	margin: 0 0.5em;
	padding: 0 0.2em;
}

nav .menu li a:hover
{
	color: #F80;
	font-weight: bold;
}

.catalogo
{
	background: #EEFAD4;
	padding: 0.5em 0;
	width: 100%;
}

.catalogo .item:nth-child(odd)
{
	/*margin: 0 2%;*/
}

.catalogo .item
{
	display: inline-block;
	background: #979996;
	border-bottom: 2px solid #4DB5DD;
	min-height: 156px;
	margin: 1% 0;
	width: 350px;
}

.catalogo .item div
{
	display: inline-block;
	vertical-align: top;
}

.catalogo .item .presentacion
{

}

.catalogo .item .presentacion img
{
	display: block;
	margin: 0.2em;
	border-radius: 8px;
}

.catalogo .item .presentacion .precio
{
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}


.catalogo .item .datos_item
{
	margin: 0.1em;
	position: relative;
	width: 205px;
	height: 150px;

}

.catalogo .item .datos_item .titulo_item
{
	margin: 0.2em 0;
	font-size: 14px;
}

.catalogo .item .datos_item .categoria_item
{
	background: #0CF;
	border-radius: 0.3em;
	display: inline;
	padding: 0.2em 0.5em;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.catalogo .item .datos_item .agregar
{
	background: #444;
	border-radius: 0.3em;
	padding: 0.3em 0.6em;
	display: block;
	color: white;
	margin-top: 1em;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#submenu
{
	background: #EEFAD4;	 
	border-bottom: 2px solid #4DB5DD;
}

#submenu div
{
	display: inline-block;
	vertical-align: top;
}

.colecciones
{

}

.colecciones h3
{
	font-weight: normal;
	text-align: center;
}

.colecciones ul li a
{
	color: #666;
	font-size: 14px;
	text-decoration: none;
	padding: 0.1em 0.2em;
}

.colecciones ul li a:hover
{
	color: red;
}

.ayuda
{
	margin-left: 2em;
}

.ayuda h3
{
	font-weight: normal;
}

.ayuda ul li a
{
	color: #666;
	font-size: 14px;
	text-decoration: none;
	padding: 0.1em 0.2em;
}

.ayuda ul li a:hover
{
	color: red;
}


@media screen and (min-width:1200px){
	body
	{
		margin: 0 auto;
		max-width: 1200px;
	}
}

@media screen and (min-width:1000px){
	.item{
		background-color: red;
		width: 90%;
	}
}
